* {
  margin: 0;
  padding: 0;
}

.main-header {
  border: 2px solid red;
  background-color: black;
  color: wheat;
  display: flex;
  justify-content: center;
  gap: 10px;
  /* align-items: center; */
  /* position: relative; */
}

.language-option {
  position: absolute;
  right: 50px;
}
