* {
  margin: 0;
  padding: 0;
}

.listStyle {
  list-style: none;
}

.main-header {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 30px;
  align-items: center;
  /* position: relative; */
}

.main-header a {
  color: white;
  font-weight: bold;
}

.language-option {
  position: absolute;
  right: 120px;
}

.language-option select {
  border: none;
  outline: none;
}

.header-bgColor {
  background-color: black;
  color: white;
}

.main-nav {
  display: flex;
  border: 2px solid red;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  /* position: relative; */
}
.main-logo {
  /* left: 50px; */
  /* position: absolute; */
  font-weight: bold;
  font-size: 25px;
}

.nav-list ul {
  gap: 30px;
  display: flex;
}

.nav-list a {
  text-decoration: none;
  color: black;
}

.nav-search {
  border: 2px solid black;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 8px;
  padding-left: 20px;
}
.nav-search form {
  gap: 10px;
  display: flex;
}
.nav-search form input {
  border: none;
  background-color: whitesmoke;
  width: 170px;
}
.nav-search button {
  border: none;
  background: none;
  cursor: pointer;
}

.main-container {
  display: flex;
  border: 2px solid red;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.left-img img {
  border: 2px solid black;
  width: 650px;
}

.usearSignup {
  border: 2px solid black;
  margin-right: 100px;
  width: 380px;
  height: 420px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.usearText-1 {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 30px;
}
.usearText-1 h3 {
  font-size: 30px;
  letter-spacing: 2px;
}

.usearDetails {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.usearDetails input {
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}
.usearDetails button {
  background-color: #e33636;
  padding: 15px;
  color: white;
  border: none;
  border-radius: 2px;
  letter-spacing: 1px;
  cursor: pointer;
}
.usearText-2 {
  display: flex;
  column-gap: 15px;
  align-items: center;
}
.usearText-2 a {
  text-decoration: none;
  padding: 2px;
  border-bottom: 1px solid gray;
  color: black;
}

.main-footer {
  margin-top: 50px;
  height: 350px;
  /* background-color: lightslategray; */
  background-color: black;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.main-footer-top {
  display: flex;
  border: 2px solid red;
  justify-content: space-around;
  align-items: center;
}
.exclusive {
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.exclusive p a {
  text-decoration: none;
  color: white;
}
.exclusive div {
  border: 1px solid white;
  border-radius: 2px;
  display: flex;
  background: none;
  align-items: center;
  padding: 5px 5px 5px 5px;
}
.exclusive div input {
  background: none;
  border: none;
  outline: none;
  color: white;
}
.exclusive div button {
  background: none;
  border: none;
  cursor: pointer;
}

.support {
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.accounts {
  margin-top: 35px;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.accounts ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.accounts ul li a {
  text-decoration: none;
  color: white;
}

.quickLink {
  margin-top: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.quickLink ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.quickLink ul li a {
  text-decoration: none;
  color: white;
}

.downloadApp {
  margin-top: 60px;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.appAndPlayimg {
  display: flex;
  column-gap: 5px;
  align-items: center;
}
.appAndPlayimg div {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
#google-click {
  cursor: pointer;
}
#app-click {
  cursor: pointer;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  margin-right: 20px;
}

.copy-wright {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  color: grey;
  padding: 20px 20px 20px 20px;
  border-top: 1px solid grey;
}

.copy-wright div {
  display: flex;
  opacity: 0.5;
}
